services:
  keycloak:
    container_name: keycloak
    image: keycloak/keycloak:25.0
    hostname: keycloak
    command:
      - 'start-dev'
      - '--http-port=9080'
      # - '--import-realm'
    volumes:
      - ./keycloak:/opt/keycloak/data/import
    environment:
      KC_HTTP_PORT: 9080
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: password
    ports:
      - 9080:9080/tcp
    networks:
      keycloak:
        aliases:
          - keycloak.local
  keycloak-config-cli:
    image: adorsys/keycloak-config-cli:latest-25
    depends_on:
      - keycloak
    volumes:
      - ./kcc-config:/config
    environment:
      - KEYCLOAK_URL=http://keycloak:9080
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=password
    restart: unless-stopped
    networks:
      keycloak: {}
      keycloak-config-cli: {}
  wiremock:
    image: wiremock/wiremock:latest
    ports:
      - "8085:8080"
    volumes:
      - ../wiremock/mappings:/home/wiremock/mappings
      # - ./__files:/home/wiremock/__files
    command: ["--verbose"]

networks:
  keycloak: {}
  keycloak-config-cli: {}
